.weather {
    display: flex;
    align-items: center;
    font-size: 32rpx;
    font-weight: bold;
}

.weather image {
    width: 60rpx;
    height: 60rpx;
    margin-right: 20rpx;
}

.weather span {
    font-weight: bold;
}

.shequ {
    display: flex;
    font-size: 36rpx;
    height: 40rpx;
    line-height: 40rpx;
    font-weight: 800;
    align-items: center;
}

.shequ .shequ-title {
    padding-right: 20rpx;
    border-right: 1px solid #fff;
}

.location .communityTitle {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20rpx;
    height: 40rpx;
    line-height: 40rpx;
}

.location .communityTitle image {
    width: 25rpx;
    height: 25rpx;
    margin-left: 20rpx;
}
