<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.winkt.modules.paimai.mapper.CouponTicketMapper">
    <update id="resetTicket">
        update paimai_coupon_tickets set use_order_id = null , used_time = null, status = 0
        where id = #{id}
    </update>
</mapper>