<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.winkt.modules.paimai.mapper.GoodsMapper">
    <select id="getDetail" resultType="cn.winkt.modules.paimai.vo.GoodsVO">
        select
            g.*,
            (select count(*) from paimai_goods_offers go where go.goods_id=g.id) as offer_count,
            (select count(*) from paimai_goods_views gv where gv.goods_id=g.id) as view_count,
            (select count(*) from paimai_goods_follows gf where gf.goods_id=g.id) as follow_count,
            (select max(price) from paimai_goods_offers go where go.goods_id=g.id) as current_price
        from paimai_goods g where id = #{id}
    </select>

    <select id="selectPage" resultType="cn.winkt.modules.paimai.vo.GoodsVO">
        select
            g.*,
            (select count(*) from paimai_goods_offers go where go.goods_id=g.id) as offer_count,
            (select count(*) from paimai_goods_views gv where gv.goods_id=g.id) as view_count,
            (select count(*) from paimai_goods_follows gf where gf.goods_id=g.id) as follow_count,
            (select max(price) from paimai_goods_offers go where go.goods_id=g.id) as current_price
        from paimai_goods g
    </select>

    <select id="queryMemberViewGoods" resultType="cn.winkt.modules.paimai.entity.Goods">
        select g.* from paimai_goods_views gv left join paimai_goods g on g.id=gv.goods_id
        where g.status = 1 and gv.member_id = #{member_id} order by gv.create_time desc
    </select>

    <select id="queryMemberFollowGoods" resultType="cn.winkt.modules.paimai.entity.Goods">
        select g.* from paimai_goods_follows gf left join paimai_goods g on g.id=gf.goods_id
        where g.status = 1 and gf.member_id = #{member_id} order by gf.create_time desc
    </select>
</mapper>