<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.winkt.modules.paimai.mapper.GoodsOfferMapper">
    <select id="getMaxOffer" resultType="java.lang.Double">
        select max(price) as price from paimai_goods_offers where goods_id=#{goods_id}
    </select>

    <select id="getMaxOfferRow" resultType="cn.winkt.modules.paimai.entity.GoodsOffer">
        select * from paimai_goods_offers where goods_id=#{goods_id} order by price desc limit 1
    </select>


    <select id="selectPageVO" resultType="cn.winkt.modules.paimai.vo.GoodsOfferVO">
        select gof.*,g.title as goods_name,p.title as performanceName,
               (select max(price) from paimai_goods_offers mgof where mgof.goods_id=gof.goods_id) as goods_max_offer_price
        from paimai_goods_offers gof
        left join paimai_goods g on g.id=gof.goods_id
        left join paimai_performances p on p.id = gof.performance_id ${ew.customSqlSegment}
    </select>
</mapper>