
/* miniprogram/pages/live/index.wxss */
.room-title {
    color: #fff;
    font-size: 38rpx;
    /* margin-top: 20rpx; */
    text-align: center;
    /* width: 100vw; */
}
.live-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.merchandise-list {
    padding: 0 40rpx;
    box-sizing: border-box;
    height: calc(100% - 170rpx);
}
.merchandise-item {
    height: 240rpx;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E2EBEF;
}
.merchandise-item:last-of-type {
    border-bottom: 0;
}
.merchandise-item image {
    width: 160rpx;
    height: 160rpx;
}
.merchandise-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 28rpx;
    padding-left: 22rpx;
    margin-top: -20rpx;
    width: 200px;
}
.merchandise-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56rpx;
    margin-top: 20rpx;
}
.shop-cart {
    width: 160rpx;
    height: 56rpx;
    background: linear-gradient(-45deg,rgba(242,3,76,1),rgba(248,7,114,1));
    box-shadow: 0 6rpx 24rpx 0 rgba(255,13,110,0.2);
    border-radius: 28rpx;
    font-size:24rpx;
    color: #fff;
    line-height: 56rpx;
    text-align: center;
}
.merchandise-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 28rpx;
    line-height: 40rpx;
    white-space: nowrap;
    width: 100%;
}
.m-price {
    color: #F2034C;
}

.push-mer {
    width: 200rpx;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    font-size: 28rpx;
    border-radius: 8rpx;
    z-index: 11;
    right: 20px;
    overflow: hidden;
}
.push-mer-img {
    width: 200rpx;
    height: 150rpx;
}
.push-mer-detail {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    padding: 10rpx;
}
.push-mer-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24rpx;
    line-height: 32rpx;
}
.push-mer-price {
    color: #F2034C;
    display: flex;
}



.yuyue {
    width: 100%;
    height: 100rpx;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    border-radius: 0;
    border: 0;
    color: #fff;
    font-size: 40rpx;
    line-height: 100rpx;
    background-color: #069ff8;
}

.yuyue-to {
    width: 100%;
    height: 100rpx;
    position: fixed;
    bottom: 0;
    border-radius: 0;
    border: 0;
    color: #fff;
    font-size: 40rpx;
    line-height: 100rpx;
    background-color: #069ff8;
}
