/* Error: $color: theme-color("secondary") is not a color.
 *     ,
 * 163 |       background-color: lighten(theme-color('secondary'), 20%) !important;
 *     |                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   styles\base\components\avatar.scss 163:25  @import
 *   styles\base\components.scss 23:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: theme-color(\"secondary\") is not a color.\a     \2577 \a 163 \2502        background-color: lighten(theme-color('secondary'), 20%) !important;\d\a     \2502                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   styles\\base\\components\\avatar.scss 163:25  @import\a   styles\\base\\components.scss 23:9           root stylesheet";
}
