.active {
    font-size: 16px;
    line-height: 2;
    font-weight: bold;
    color: #B91C1C;
    position: relative;
    display: block;
}

.active:before {
    content: ' ';
    width: 50%;
    height: 3px;
    background-color: #B91C1C;
    position: absolute;
    bottom: 0;
    left: calc((100% - 50%) / 2);
}
