.status_bar {
    line-height: 1;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    image.backbtn {
        position: absolute;
        left: 10Px;
        bottom: 5Px;
        z-index: 99;
        width: 25Px;
        height: 25Px;
        border-radius: 50Px;
        padding: 3Px;
        background: rgba(255,255,255,0.6);
        box-sizing: content-box;
    }
}
