.status_bar {
    height: 40px;
    line-height: 40px;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    image.btn {
        position: absolute;
        left: 10px;
        bottom: 6px;
        z-index: 99;
        width: 25px;
        height: 25px;
        border-radius: 50px;
        padding: 3px;
        background: rgba(255,255,255,0.6);
        box-sizing: content-box;
    }
}
