/* Error: Undefined variable.
 *    ,
 * 45 |   border: 2px solid darken($body-bg, 10%);
 *    |                            ^^^^^^^^
 *    '
 *   styles\base\components\demo.scss 45:28  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 45 \2502    border: 2px solid darken($body-bg, 10%);\d\a    \2502                             ^^^^^^^^\a    \2575 \a   styles\\base\\components\\demo.scss 45:28  root stylesheet";
}
