@font-face {
    font-family: "iconfont"; /* Project id 4154243 */
    src: url('//at.alicdn.com/t/c/font_4154243_vrqvoiuorzo.svg?t=1688628102089#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jinhangzhong:before {
    content: "\e60e";
}

.icon-guanbi:before {
    content: "\e60f";
}

.icon-gongyipai-kong:before {
    content: "\e610";
}

.icon-fapiao-kong:before {
    content: "\e611";
}

.icon-shuaxin:before {
    content: "\e612";
}

.icon-a-shangchengxiadangouwuche:before {
    content: "\e613";
}

.icon-shuoming:before {
    content: "\e614";
}

.icon-sousuo:before {
    content: "\e615";
}

.icon-jifen:before {
    content: "\e616";
}

.icon-xuexigongkaike:before {
    content: "\e617";
}

.icon-weixuan:before {
    content: "\e618";
}

.icon-quanbudingdan:before {
    content: "\e619";
}

.icon-shoucang:before {
    content: "\e61a";
}

.icon-xuanzhong:before {
    content: "\e61b";
}

.icon-huidaozhuye:before {
    content: "\e61c";
}

.icon-huayizhenxuan-kong:before {
    content: "\e61d";
}

.icon-a-youhuiquankong:before {
    content: "\e61e";
}

.icon-yihuopai:before {
    content: "\e61f";
}

.icon-tongbupai-kong:before {
    content: "\e620";
}

.icon-yiwancheng:before {
    content: "\e621";
}

.icon-yaoqingxinyonghu:before {
    content: "\e622";
}

.icon-a-zhifufangshixuanzhong:before {
    content: "\e623";
}

.icon-zixun:before {
    content: "\e624";
}

.icon-weihuopai:before {
    content: "\e625";
}

.icon-fenxiang:before {
    content: "\e626";
}

.icon-dajiazhiyan-kong:before {
    content: "\e604";
}

.icon-daifahuo:before {
    content: "\e605";
}

.icon-a-fanhuixiangqing:before {
    content: "\e606";
}

.icon-daifukuan:before {
    content: "\e607";
}

.icon-canpaizhong:before {
    content: "\e608";
}

.icon-dianhua:before {
    content: "\e609";
}

.icon-jiarugouwuche:before {
    content: "\e60a";
}

.icon-chongzhi:before {
    content: "\e60b";
}

.icon-shimingrenzheng:before {
    content: "\e60c";
}

.icon-daifahuo-kong:before {
    content: "\e60d";
}

.icon-baozhengjin:before {
    content: "\e602";
}

.icon-xianshipai-kong:before {
    content: "\e603";
}
