@font-face {
    font-family: "iconpm"; /* Project id 4299736 */
    src: url('//at.alicdn.com/t/c/font_4299736_f1rra3ksmb.woff2?t=1698121669504') format('woff2'),
    url('//at.alicdn.com/t/c/font_4299736_f1rra3ksmb.woff?t=1698121669504') format('woff'),
    url('//at.alicdn.com/t/c/font_4299736_f1rra3ksmb.ttf?t=1698121669504') format('truetype');
}

.iconpm {
    font-family: "iconpm" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconpm-31daifahuo:before {
    content: "\e600";
}

.iconpm-bangzhuzhongxin:before {
    content: "\e606";
}

.iconpm-yiwancheng:before {
    content: "\e6a6";
}

.iconpm-lianxikefu:before {
    content: "\e668";
}

.iconpm-gerenziliao:before {
    content: "\e611";
}

.iconpm-daishouhuo:before {
    content: "\e640";
}

.iconpm-qiandao:before {
    content: "\e641";
}

.iconpm-yuyue:before {
    content: "\e60d";
}

.iconpm-daichuli:before {
    content: "\e62b";
}

.iconpm-jinhangzhong:before {
    content: "\e62c";
}

.iconpm-daijiesuan:before {
    content: "\e62d";
}

.iconpm-shoucang:before {
    content: "\eca7";
}

.iconpm-yiquxiao:before {
    content: "\e70c";
}

.iconpm-chengxinbaozhengjin:before {
    content: "\e623";
}

.iconpm-lishijilu:before {
    content: "\e612";
}

.iconpm-fapiaoguanli:before {
    content: "\e60b";
}

.iconpm-shouhou:before {
    content: "\e624";
}

.iconpm-dizhiguanli:before {
    content: "\e663";
}

.iconpm-weikaishi:before {
    content: "\e65a";
}
