@font-face {
    font-family: "iconfont"; /* Project id 3913754 */
    src: url('//at.alicdn.com/t/c/font_3913754_bcjps3n7mc.woff2?t=1686270852675') format('woff2'),
    url('//at.alicdn.com/t/c/font_3913754_bcjps3n7mc.woff?t=1686270852675') format('woff'),
    url('//at.alicdn.com/t/c/font_3913754_bcjps3n7mc.ttf?t=1686270852675') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-daifahuo2:before {
    content: "\e60e";
}

.icon-daifukuan1:before {
    content: "\e618";
}

.icon-daikaishi1:before {
    content: "\e61a";
}

.icon-canpaizhong1:before {
    content: "\e61b";
}

.icon-daishouhuo2:before {
    content: "\e61c";
}

.icon-guanbi2-fill1:before {
    content: "\e61e";
}

.icon-kefu011:before {
    content: "\e61f";
}

.icon-quanbudingdan1:before {
    content: "\e620";
}

.icon-baozhengjin2:before {
    content: "\e621";
}

.icon-wodejifen1:before {
    content: "\e622";
}

.icon-gouxuan_2:before {
    content: "\e625";
}

.icon-tishi1:before {
    content: "\e626";
}

.icon-yihuopai1:before {
    content: "\e627";
}

.icon-tianjia1:before {
    content: "\e628";
}

.icon-yiwancheng2:before {
    content: "\e629";
}

.icon-gerenzhongxindibu1:before {
    content: "\e62a";
}

.icon-weihuopai1:before {
    content: "\e62b";
}

.icon-yihuopai:before {
    content: "\e616";
}

.icon-yiwancheng1:before {
    content: "\e617";
}

.icon-tianjia:before {
    content: "\e613";
}

.icon-weihuopai:before {
    content: "\e614";
}

.icon-wodejifen:before {
    content: "\e615";
}

.icon-tishi:before {
    content: "\e612";
}

.icon-guanbi2-fill:before {
    content: "\e60f";
}

.icon-kefu01:before {
    content: "\e610";
}

.icon-quanbudingdan:before {
    content: "\e611";
}

.icon-baozhengjin1:before {
    content: "\e606";
}

.icon-canpaizhong:before {
    content: "\e607";
}

.icon-daifahuo1:before {
    content: "\e609";
}

.icon-daifukuan:before {
    content: "\e60a";
}

.icon-daikaishi:before {
    content: "\e60b";
}

.icon-daishouhuo1:before {
    content: "\e60c";
}

.icon-gerenzhongxindibu:before {
    content: "\e60d";
}

.icon-edit:before {
    content: "\e605";
}

.icon-plus:before {
    content: "\e829";
}

.icon-fenxiang:before {
    content: "\e624";
}

.icon-daojishi:before {
    content: "\e61d";
}

.icon-zanwushuju:before {
    content: "\e603";
}

.icon-youjiantou_huaban:before {
    content: "\e63c";
}

.icon-daizhifudingdan:before {
    content: "\e619";
}

.icon-yiwancheng:before {
    content: "\e6a6";
}

.icon-daishouhuo:before {
    content: "\e690";
}

.icon-daifahuo:before {
    content: "\e707";
}

.icon-quanbu:before {
    content: "\e713";
}

.icon-31shezhi:before {
    content: "\e602";
}

.icon-31guanzhu1:before {
    content: "\e600";
}

.icon-zuji:before {
    content: "\e767";
}

.icon-bangzhuzhongxin:before {
    content: "\e652";
}

.icon-canyu:before {
    content: "\e608";
}

.icon-zhanghu:before {
    content: "\e632";
}

.icon-gouwuche:before {
    content: "\e64f";
}

.icon-lianxikefu:before {
    content: "\e646";
}

.icon-shangchuan:before {
    content: "\e623";
}

.icon-dizhiguanli:before {
    content: "\e63f";
}

.icon-erweima:before {
    content: "\eaf1";
}

.icon-wodexiao:before {
    content: "\e941";
}

.icon-kaipiao:before {
    content: "\e69c";
}

.icon-paimai:before {
    content: "\e601";
}

.icon-shouye:before {
    content: "\e6d3";
}

.icon-zhuanzhang:before {
    content: "\e7e5";
}

.icon-qianbao:before {
    content: "\e604";
}

.icon-kaipiaoxinxi:before {
    content: "\e64e";
}

.icon-baozhengjin:before {
    content: "\e656";
}

.icon-shizhong-mianxing:before {
    content: "\e673";
}
