@font-face {
    font-family: "iconfont2"; /* Project id 4154243 */
    /* Color fonts */
    src:
        url('//at.alicdn.com/t/c/font_4154243_77w322tny2.woff2?t=1690166476240') format('woff2'),
        url('//at.alicdn.com/t/c/font_4154243_77w322tny2.ttf?t=1690166476240') format('truetype');
}

.iconfont2 {
    font-family: "iconfont2" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon2-daishouhuo:before {
    content: "\e627";
}

.icon2-jinhangzhong:before {
    content: "\e60e";
}

.icon2-guanbi:before {
    content: "\e60f";
}

.icon2-gongyipai-kong:before {
    content: "\e610";
}

.icon2-fapiao-kong:before {
    content: "\e611";
}

.icon2-shuaxin:before {
    content: "\e612";
}

.icon2-a-shangchengxiadangouwuche:before {
    content: "\e613";
}

.icon2-shuoming:before {
    content: "\e614";
}

.icon2-sousuo:before {
    content: "\e615";
}

.icon2-jifen:before {
    content: "\e616";
}

.icon2-xuexigongkaike:before {
    content: "\e617";
}

.icon2-weixuan:before {
    content: "\e618";
}

.icon2-quanbudingdan:before {
    content: "\e619";
}

.icon2-shoucang:before {
    content: "\e61a";
}

.icon2-xuanzhong:before {
    content: "\e61b";
}

.icon2-huidaozhuye:before {
    content: "\e61c";
}

.icon2-huayizhenxuan-kong:before {
    content: "\e61d";
}

.icon2-a-youhuiquankong:before {
    content: "\e61e";
}

.icon2-yihuopai:before {
    content: "\e61f";
}

.icon2-tongbupai-kong:before {
    content: "\e620";
}

.icon2-yiwancheng:before {
    content: "\e621";
}

.icon2-yaoqingxinyonghu:before {
    content: "\e622";
}

.icon2-a-zhifufangshixuanzhong:before {
    content: "\e623";
}

.icon2-zixun:before {
    content: "\e624";
}

.icon2-weihuopai:before {
    content: "\e625";
}

.icon2-fenxiang:before {
    content: "\e626";
}

.icon2-dajiazhiyan-kong:before {
    content: "\e604";
}

.icon2-daifahuo:before {
    content: "\e605";
}

.icon2-a-fanhuixiangqing:before {
    content: "\e606";
}

.icon2-daifukuan:before {
    content: "\e607";
}

.icon2-canpaizhong:before {
    content: "\e608";
}

.icon2-dianhua:before {
    content: "\e609";
}

.icon2-jiarugouwuche:before {
    content: "\e60a";
}

.icon2-chongzhi:before {
    content: "\e60b";
}

.icon2-shimingrenzheng:before {
    content: "\e60c";
}

.icon2-daifahuo-kong:before {
    content: "\e60d";
}

.icon2-baozhengjin:before {
    content: "\e602";
}

.icon2-xianshipai-kong:before {
    content: "\e603";
}
