.stamp {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
}
.stamp:before {
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    z-index: -1;
}
.stamp .i {
    position: absolute;
    left: 20%;
    top: 45px;
    height: 190px;
    width: 390px;
    background-color: rgba(255, 255, 255, .15);
    transform: rotate(-30deg);
}
.stamp .par {
    padding: 15px;
    width: 220px;
    border-right:2px dashed rgba(255, 255, 255, .3);
    text-align: left;
    flex: 1;
}
.stamp .par View {
    color:#fff;
    font-size: 16px;
    line-height: 21px;
}
.stamp .par .span {
    font-size: 42px;
    color:#fff;
    margin-right: 5px;
    line-height: 65px;
}
.stamp .par .sign {
    font-size: 34px;
    color: white;
}
.stamp .par .sub {
    position: relative;
    top:-5px;
    color:rgba(255, 255, 255, .8);
}
.stamp .copy {
    padding: 20px 10px;
    width: 130px;
    vertical-align: text-bottom;
    font-size: 24px;
    color:rgb(255,255,255);
    text-align: center;
    line-height: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stamp .copy View {
    font-size: 16px;
    margin-top: 15px;
}
.stamp01 {
    background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #F39B00 5px);
    background-size: 15px 15px;
    background-position: 9px 3px;
}
.stamp01:before {
    background-color:#F39B00;
}
.inactive {
    background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, #CCCCCC 5px);
    background-size: 15px 15px;
    background-position: 9px 3px;
}
.inactive:before {
    background-color:#cccccc;
}
.stamp02 {
    background: radial-gradient(transparent 0, transparent 5px, #D24161 5px);
    background-size: 15px 15px;
    background-position: 9px 3px;
}
.stamp02:before {
    background-color:#D24161;
}
.stamp03 {
    background: radial-gradient(transparent 0, transparent 5px, #7EAB1E 5px);
    background-size: 15px 15px;
    background-position: 9px 3px;
}
.stamp03:before {
    background-color:#7EAB1E;
}
.stamp03 .copy {
    padding: 10px 6px 10px 12px;
    font-size: 24px;
}
.stamp03 .copy p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.stamp03 .copy a {
    background-color:#fff;
    color:#333;
    font-size: 14px;
    text-decoration:none;
    padding:5px 10px;
    border-radius:3px;
    display: block;
}
.stamp04 {
    width: 390px;
    background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 4px, #50ADD3 4px);
    background-size: 12px 8px;
    background-position: -5px 10px;
}
.stamp04:before {
    background-color:#50ADD3;
    left: 5px;
    right: 5px;
}
.stamp04 .copy {
    padding: 10px 6px 10px 12px;
    font-size: 24px;
}
.stamp04 .copy p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.stamp04 .copy a {
    background-color:#fff;
    color:#333;
    font-size: 14px;
    text-decoration:none;
    padding:5px 10px;
    border-radius:3px;
    display: block;
}
