.flow {
    break-inside:avoid;
    margin-bottom: 10px;
    overflow: hidden;
    line-height: 24px;
    display: inline-flex;
    width: 100%;
    flex-direction: column;
}
.flow view {
    line-height: 24px;
}
.flowWrapper {
    column-count:2;
    column-gap: 10px;
    padding: 10px;
}
.swiperImage {
    width: 100%;
    height: 100%;
}
.swiperImage image {
    display: block;
    height: 100%;
    width: 100%;
}
