.flow {
    break-inside:avoid;
    margin-bottom: 20rpx;
    overflow: hidden;
    line-height: 48rpx;
}
.flow view {
    line-height: 48rpx;
}
.flowWrapper {
    column-count:2;
    column-gap: 20rpx;
    margin: 20rpx 30rpx;
}
.swiperImage {
    width: 100%;
    height: 100%;
}
.swiperImage image {
    display: block;
    height: 100%;
    width: 100%;
}
