/* Error: $color: theme-color("primary") is not a color.
 *    ,
 * 23 |   'lighten-5': lighten(theme-color('primary'), 25%),
 *    |                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   styles\base\core\colors\palette-variables.scss 23:16  @import
 *   styles\react\bootstrap-vue\_avatar.scss 2:9           @import
 *   styles\react\bootstrap-vue\_index.scss 4:9            @import
 *   styles\core.scss 19:9                                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: theme-color(\"primary\") is not a color.\a    \2577 \a 23 \2502    'lighten-5': lighten(theme-color('primary'), 25%),\d\a    \2502                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   styles\\base\\core\\colors\\palette-variables.scss 23:16  @import\a   styles\\react\\bootstrap-vue\\_avatar.scss 2:9           @import\a   styles\\react\\bootstrap-vue\\_index.scss 4:9            @import\a   styles\\core.scss 19:9                                 root stylesheet";
}
