/* Error: Undefined mixin.
 *    ,
 * 20 | /   @include hover() {
 * 21 | |     color: inherit;
 * 22 | |     text-decoration: none;
 * 23 | \   }
 *    '
 *   styles\base\bootstrap-extended\_reboot.scss 20:3  @import
 *   styles\base\bootstrap-extended.scss 17:9          @import
 *   styles\diy.scss 2:9                               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 20 \2502  \250c    @include hover() {\a 21 \2502  \2502      color: inherit;\a 22 \2502  \2502      text-decoration: none;\a 23 \2502  \2514    }\a    \2575 \a   styles\\base\\bootstrap-extended\\_reboot.scss 20:3  @import\a   styles\\base\\bootstrap-extended.scss 17:9          @import\a   styles\\diy.scss 2:9                               root stylesheet";
}
