/* Error: Undefined variable.
 *    ,
 * 26 |         outline: 2px solid $primary;
 *    |                            ^^^^^^^^
 *    '
 *   styles/filebrowser.scss 26:28  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 26 \2502          outline: 2px solid $primary;\a    \2502                             ^^^^^^^^\a    \2575 \a   styles/filebrowser.scss 26:28  root stylesheet";
}
