.vs__open-indicator {
  fill: none;
  margin-top: 0.15rem;
}

.vs__dropdown-toggle {
  padding: 0.59px 0 4px 0;
  transition: all 0.25s ease-in-out;
}
.vs--single .vs__dropdown-toggle {
  padding-left: 6px;
}

.vs__dropdown-option--disabled {
  opacity: 0.5;
}
.vs__dropdown-option--disabled.vs__dropdown-option--selected {
  background: #0d6efd !important;
}

.vs__dropdown-option {
  color: #212529;
}

.vs__dropdown-option,
.vs__no-options {
  padding: 7px 20px;
}

.vs__dropdown-option--selected {
  background-color: #0d6efd;
  color: #fff;
  position: relative;
}
.vs__dropdown-option--selected::after {
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.1rem;
}
[dir=rtl] .vs__dropdown-option--selected::after {
  left: 20px;
  right: unset;
}
.vs__dropdown-option--selected.vs__dropdown-option--highlight {
  color: #fff !important;
  background-color: #0d6efd !important;
}

.vs__clear svg {
  color: #212529;
}

.vs__selected {
  color: #fff;
}
.v-select.vs--single .vs__selected {
  color: #212529;
  margin-top: 5px;
  transition: transform 0.2s ease;
}
.v-select.vs--single .vs__selected input {
  padding-left: 0;
}
.vs--single.vs--open .vs__selected {
  transform: translateX(5px);
}
.vs__selected .vs__deselect {
  color: inherit;
}

.v-select:not(.vs--single) .vs__selected {
  border-radius: 3px;
  padding: 0 0.6em;
  font-size: 0.9rem;
  margin: 5px 2px 2px 5px;
}
.v-select:not(.vs--single) .vs__deselect svg {
  transform: scale(0.8);
  vertical-align: text-top;
}

.vs__dropdown-menu {
  top: calc(100% + 1rem);
  border: none;
  border-radius: 6px;
  padding: 0;
}

.vs--open .vs__dropdown-toggle {
  border-color: #86b7fe;
  border-bottom-color: #86b7fe;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.select-size-lg .vs__selected {
  font-size: 1rem !important;
}
.select-size-lg.vs--single.vs--open .vs__selected {
  margin-top: 6px;
}
.select-size-lg .vs__dropdown-toggle,
.select-size-lg .vs__selected {
  font-size: 1.25rem;
}
.select-size-lg .vs__dropdown-toggle {
  padding: 5px;
}
.select-size-lg .vs__dropdown-toggle input {
  margin-top: 0;
}
.select-size-lg .vs__deselect svg {
  transform: scale(1) !important;
  vertical-align: middle !important;
}

.select-size-sm .vs__dropdown-toggle {
  padding-bottom: 0;
  padding: 1px;
}
.select-size-sm.vs--single .vs__dropdown-toggle {
  padding: 2px;
}
.select-size-sm .vs__dropdown-toggle,
.select-size-sm .vs__selected {
  font-size: 0.9rem;
}
.select-size-sm .vs__actions {
  padding-top: 2px;
  padding-bottom: 2px;
}
.select-size-sm .vs__deselect svg {
  vertical-align: middle !important;
}
.select-size-sm .vs__search {
  margin-top: 0;
}
.select-size-sm.v-select .vs__selected {
  padding: 0 0.3rem;
  font-size: 0.75rem;
}
.select-size-sm.v-select:not(.vs--single) .vs__selected {
  margin: 4px 5px;
}
.select-size-sm.v-select.vs--single .vs__selected {
  margin-top: 1px;
}
.select-size-sm.vs--single.vs--open .vs__selected {
  margin-top: 4px;
}

.dark-layout .vs__dropdown-toggle {
  background: #283046;
  color: #b4b7bd;
  border-color: #404656;
}
.dark-layout .vs__selected-options input {
  color: #b4b7bd;
}
.dark-layout .vs__selected-options input::placeholder {
  color: #676d7d;
}
.dark-layout .vs__actions svg {
  fill: #404656;
}
.dark-layout .vs__dropdown-menu {
  background: #283046;
}
.dark-layout .vs__dropdown-menu li {
  color: #b4b7bd;
}
.dark-layout .v-select:not(.vs--single) .vs__selected {
  background-color: rgba(13, 110, 253, 0.12);
  color: #0d6efd;
}
.dark-layout .v-select.vs--single .vs__selected {
  color: #b4b7bd !important;
}
.dark-layout .vs--disabled .vs__dropdown-toggle,
.dark-layout .vs--disabled .vs__clear,
.dark-layout .vs--disabled .vs__search,
.dark-layout .vs--disabled .vs__selected,
.dark-layout .vs--disabled .vs__open-indicator {
  background-color: #283046;
  opacity: 0.5;
}

/*# sourceMappingURL=vue-select.css.map */
