.date-time-picker {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section {
        display: flex;
        width: 100%;
        justify-content: center;
        picker-view {
            width: 100%;
            height: 250px;
            picker-view-column {
                text-align: center;
                font-size: 18px;
                line-height: 50px;
            }
        }
    }

    .handle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 40px;

        button {
            height: 35px;
            line-height: 35px;
            font-size: 16px;
            padding: 0 40px;
            margin: 0 10px;
        }

        .confirm {
            background-color: #07C160;
        }

        .cancel {
            background-color: #F2F2F2;
            color: #1AAD19;
        }
    }
}
