.img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    display: block;
    position: relative;
    overflow: hidden;
    image {
        width: 100%;
        display: inline-block;
        height: 100%;
        margin: 0;
        pointer-events: none;
    }
}
