@import "base/bootstrap";

$filebrowser-prefix: 'filebrowser';
.#{$filebrowser-prefix}-modal {
    width: 1000px;
    max-width: 1000px;
}

.#{$filebrowser-prefix} {
    .container {
        padding: 0.8rem 1.65rem;
    }

    .item {
        position: relative;
        display: block;
        background-size: contain;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 10px;
    }

    .item:hover {
        outline: 2px solid $primary;
    }

    .item:before {
        content: "";
        display: inline-block;
        padding-bottom: calc(100% - 16px);
        width: .1px;
    }

    .header {
    }

    .footer {
        margin-top: 1.65rem;
    }

    .audio, .video, .excel {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -24px;
        margin-top: -24px;
        font-size: 48px;
    }

    .name {
        left: 0;
        bottom: 0;
        width: 100%;
        line-height: 34px;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        padding: 0 20px;
        text-align: left;
        z-index: 2;
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis; /* Opera */
    }

    .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        background-color: rgba(0, 0, 0, .5);
        text-align: center;
        color: white;
        font-size: 48px;
    }

    .mask .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -24px;
        margin-top: -24px;
    }

    .previewItem {
        position: relative;
        width: 180px;
        max-width: 180px;
    }

    .preview {
        outline: 1px solid #ddd;
        padding: 4px;
    }

    .close {
        position: absolute;
        right: -10px;
        top: -10px;
        font-size: 16px;
        z-index: 999;
        font-weight: bold;
        cursor: pointer;
    }

    .disabled {
        background-color: gray;
    }
}
