@import "scss/style";
@import "base/bootstrap-extended/variables";
@import "base/components/variables-dark";

//react-awesome-button
@import "react-awesome-button/src/styles/base/variables";
$button-primary-color: $primary;
$button-default-height: 38px;
@import "react-awesome-button/src/styles/base/custom-properties";
@import "react-awesome-button/src/styles/base/lists";
@import "react-awesome-button/src/styles/base/main";
@import "react-awesome-button/src/styles/base/progress";

@import "sweetalert2/src/sweetalert2";


.react-datepicker {
  font-family: inherit !important;
}
.react-datepicker:has(> .react-datepicker__time-container ) {
  min-width: 298px;
}
.react-datepicker__header {
  background-color: $table-head-bg !important;
  border-bottom: 1px solid $table-border-color !important;
}



//暗黑主题
body {
  &.dark-layout {
    .react-datepicker {
      background-color: $theme-dark-input-bg !important;
      color: $theme-dark-body-color !important;
    }
    .react-datepicker__header {
      background-color: $theme-dark-table-header-bg !important;
      border-bottom: 1px solid $theme-dark-border-color !important;
      color: $theme-dark-body-color !important;
    }
    .react-datepicker__time-container {
      .react-datepicker__time {
        background-color: $theme-dark-table-header-bg !important;
        color: $theme-dark-body-color !important;
      }
    }
    .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
      color: $theme-dark-body-color !important;
    }
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
      color: $theme-dark-body-color !important;
    }
    .react-datepicker__day--disabled, .react-datepicker__month-text--disabled, .react-datepicker__quarter-text--disabled, .react-datepicker__year-text--disabled {
      color: $theme-dark-input-disabled-border-color !important;
    }
  }
}

.th.expand-cell-header, td.expand-cell {
  padding: 0.72rem;
  text-align: center;
}

span.divider {
  border-right: 1px solid $border-color;
  width: 1px;
  height: 12px;
  margin: 0 5px !important;
}

.text-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.table-layout-fixed {
  table-layout: fixed;
}

.dropdown-toggle.noafter:after {
  display: none;
}
.form-group {
  .react-datepicker-wrapper {
    display: block;
    max-width: 200px;
  }
}

@import "tree";
@import "./filebrowser";