@import "scss/style";
@import "base/bootstrap-extended/variables";
@import "base/components/variables-dark";
//
//.table.b-table {
//  thead, tfoot {
//    > tr {
//      > .sortable {
//        cursor: pointer;
//        background-repeat: no-repeat;
//        background-size: 0.65em 1em;
//        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='26'%3E%3Cg stroke='%23C6C4D0' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M1 19l6 6 6-6M13 7L7 1 1 7'/%3E%3C/g%3E%3C/svg%3E");
//        background-position: right 1.36rem center;
//      }
//      > .sortable.sorting-asc {
//        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='26'%3E%3Cg stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M1 19l6 6 6-6' stroke='%23C6C4D0'/%3E%3Cpath d='M13 7L7 1 1 7' stroke='%235E5873'/%3E%3C/g%3E%3C/svg%3E");
//      }
//      > .sortable.sorting-desc {
//        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='26'%3E%3Cg stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M1 19l6 6 6-6' stroke='%235E5873'/%3E%3Cpath d='M13 7L7 1 1 7' stroke='%23C6C4D0'/%3E%3C/g%3E%3C/svg%3E")
//      }
//    }
//  }
//}
//


.react-datepicker {
  font-family: inherit !important;
}
.react-datepicker:has(> .react-datepicker__time-container ) {
  min-width: 298px;
}
.react-datepicker__header {
  background-color: $table-head-bg !important;
  border-bottom: 1px solid $table-border-color !important;
}



//暗黑主题
body {
  &.dark-layout {
    .react-datepicker {
      background-color: $theme-dark-input-bg !important;
      color: $theme-dark-body-color !important;
    }
    .react-datepicker__header {
      background-color: $theme-dark-table-header-bg !important;
      border-bottom: 1px solid $theme-dark-border-color !important;
      color: $theme-dark-body-color !important;
    }
    .react-datepicker__time-container {
      .react-datepicker__time {
        background-color: $theme-dark-table-header-bg !important;
        color: $theme-dark-body-color !important;
      }
    }
    .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
      color: $theme-dark-body-color !important;
    }
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
      color: $theme-dark-body-color !important;
    }
    .react-datepicker__day--disabled, .react-datepicker__month-text--disabled, .react-datepicker__quarter-text--disabled, .react-datepicker__year-text--disabled {
      color: $theme-dark-input-disabled-border-color !important;
    }
  }
}

.th.expand-cell-header, td.expand-cell {
  padding: 0.72rem;
  text-align: center;
}

span.divider {
  border-right: 1px solid $border-color;
  width: 1px;
  height: 12px;
  margin: 0 5px !important;
}

.text-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.table-layout-fixed {
  table-layout: fixed;
}