.redCheckbox {
    --checkbox-checked-icon-border-color: #ee0a24;
    --checkbox-checked-icon-background-color: #ee0a24;
    --radio-checked-icon-background-color: #ee0a24;
    --radio-checked-icon-border-color: #ee0a24;
}
