.userProfile {
  position: relative;
  z-index: 0;
  overflow: visible;
  width: 100%;
  box-sizing: border-box;
  &:after {
    width: 140%;
    height: calc(100% - 20px);
    position: absolute;
    left: -20%;
    z-index: -1;
    top: 0;
    content: '';
    border-radius: 0 0 50% 50%;
    background: linear-gradient(180deg, #b02624 0%, #991b1b 100%);
  }
}
.userProfile2 {
    position: relative;
    z-index: 0;
    overflow: visible;
    width: 100%;
    box-sizing: border-box;
    &:after {
        width: 140%;
        height: calc(100% - 80px);
        position: absolute;
        left: -20%;
        z-index: -1;
        top: 0;
        content: '';
        background: linear-gradient(180deg, #b02624 0%, #991b1b 100%);
    }
}
.bigInput {
    @apply border border-solid border-stone-400 px-4 py-3 mt-2 h-auto text-lg bg-gray-100;
    line-height: 2;
}
.profile {
  position: absolute;
  top: 0;
}
