@import "assets/fonts/iconfont.css";
@import "assets/fonts/fontawesome/font-awesome";
@import "assets/fonts/montserrat";


button {
    background-color: transparent;
    background-image: none;
}
page {
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    @apply text-gray-800 subpixel-antialiased;
    background-color: #f8f8f8;
    display: block;
    position: relative;
    min-height: 100%;
    font-family: Montserrat, system-ui,
    -apple-system, /* Firefox supports this but not yet `system-ui` */
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}

navigator, picker {
    display: block;
}
button, button[plain] {
    border: none;
    &::after {
        border: none;
    }
    &:after {
        border: none;
    }
}
.btn {
    border: none;
    @apply py-3 px-6 inline-block rounded-full;

    &.button-hover {
        @apply transform scale-90;
    }

    &[disabled] {
        background-image: none !important;
        @apply bg-none bg-gray-400;
    }
    &.btn-primary {
        @apply from-indigo-400 to-indigo-600 bg-gradient-to-r text-white;
    }
    &.btn-danger {
        @apply from-red-400 to-red-600 bg-gradient-to-r text-white;
    }
    &.btn-warning {
        @apply from-amber-400 to-amber-600 bg-gradient-to-r text-white;
    }
    &.btn-outline {
        @apply text-gray-600 border-solid border-1 border-gray-400;
    }
}

.screen-swiper {
    min-height: auto;
}
