@import "colorui/main";
@import "colorui/icon";
@import "colorui/animation";

page {
    --gradualGreen: linear-gradient(45deg, #228D49, #4CAF50);
    --green: #228D49;
    --orange: #ffba16;
    --black: #262626;
    --gray: #999999;
    --cyan: #8bf1ed;
    --gradualOrange: linear-gradient(45deg, #ffba16, #fed300);
    --blackShadow: #f4f8fb;
    background-color: #f4f8fb;
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
}
cover-view {
    box-sizing: border-box;
}
.cu-dialog {
    background-color: #f4f8fb;
}
page .container {
    padding: 0 15px;
}
page .container.tab-container {
    padding-bottom: 60px;
}
.bg-gray-2 {
    background-color: #f4f8fb;
}
.container > .item {
    border-radius: 15px;
}

.menus > .cu-item  image.menu {
    width: 50px;
    height: 50px;
}
.menus > .cu-item {
    align-items: center;
}

.shadow-lg2 {
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.screen-swiper {
    min-height: auto;
}

.cu-list.grid > .cu-item text {
    color: #333333;
}

.radius-lg {
    border-radius: 7.5px;
}
.input-placeholder {
    color: #bbb;
}
.cu-form-group .title {
    min-width: 80px;
}

.cu-modal.bottom-modal .cu-dialog {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    height: 250px;
    .cuIcon-close {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 20px;
    }
    padding-top: 35px;
}

.wx-switch-input {
    zoom: 2;
}

.background-image {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 99;
    mix-blend-mode: screen;
    height: 50px;
}

.cu-list.card-menu.radius {
    border-radius: 10px;
}

.text-yellow {
    color: #F4DB9B;
}
@keyframes scaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0%{
        transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.3); /*放大1.1倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.3);
    }
}
.animation-scale-draw{
    animation-name: scaleDraw;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.cu-btn.xl {
    padding: 0 21px;
    font-size: 18px;
    height: 50px;
}
.no-radius {
    border-radius: 0 !important;
}
button.no-style {
    display: block;
    background: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
}
button.no-style::after {
    border: none;
    border-radius: 0;
}
.grid > view:nth-child(odd) {
    padding-right: 2.5px;
    margin-bottom: 4px;
    overflow: hidden;
}
.grid > view:nth-child(even) {
    padding-left: 2.5px;
    margin-bottom: 4px;
    overflow: hidden;
}

.form-right input {
    text-align: right;
}
.cu-bar.tabbar.cart .action{
    display: flex;
    align-items: center;
}

.cu-bar.tabbar.shop .action {
    background: none;
}
.cu-bar.tabbar .action.add-action {
    position: relative;
    z-index: 2;
    padding-top: 29px;
    background-color: inherit;
}

.cu-bar.tabbar .action.add-action .icon {
    position: absolute;
    width: 50px;
    z-index: 2;
    height: 50px;
    border-radius: 50%;
    line-height: 35px;
    font-size: 35px;
    top: -50rpx;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
}

.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 30px solid #ffba16;
    border-right: 80px solid transparent;
}
.jianbian-border {
    background: linear-gradient(to right, #fdde5c, #f8ab5e, #f56a62, #a176c8, #759beb, #65beb3, #70db96);
}
.sanjiao-down {
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #ff5454;
}
.sanjiao-down-white {
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 8px solid white;
}
.cu-list.grid > .cu-item iconfont {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
.cu-list.grid > .cu-item text {
    margin-top: 0;
}
.cu-list.menu-avatar > .cu-item .action {
    width: 80px;
    text-align: center;
}

.filter-gray {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    -webkit-filter: grayscale(1)
}

.safe-bottom {
    height: 60px !important;
    padding-bottom: calc(env(safe-area-inset-bottom) / 2) !important;
}
.cu-form-group textarea[disabled],
.cu-form-group textarea[disabled] .placeholder {
    color: var(--gray);
}

radio.small .wx-radio-input,
checkbox.small .wx-checkbox-input {
    margin: 0;
    width: 12px;
    height: 12px;
}
radio.small::before,
checkbox.small::before {
    top: 50%;
    margin-top: -4px;
    right: 3px;
    font-size: 9px;
    line-height: 9px;
}

.radius-lg {
    border-radius: 10px;
}
