.userProfile {
    position: relative;
    z-index: 0;
    overflow: visible;
    width: 100%;
    box-sizing: border-box;
    &:after {
        width: 140%;
        height: calc(100% - 120px);
        position: absolute;
        left: -20%;
        z-index: -1;
        top: 0;
        content: '';
        border-radius: 0 0 50% 50%;
        background: linear-gradient(180deg, #b02624 0%, #991b1b 100%);
    }
}

.profile {
    position: absolute;
    top: 0;
}
.tip {
    --tw-gradient-from: #e3af8a;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(255, 255, 255, 0));
}
