@import "../../assets/scss/style";
@import "../base/bootstrap-extended/variables";
@import "../base/components/variables-dark";
$button-primary-color: $primary;
$button-default-height: 38px;
@import "sweetalert2/src/sweetalert2";

.react-datepicker {
  font-family: inherit !important;
}
.react-datepicker:has(> .react-datepicker__time-container ) {
  min-width: 298px;
}
.react-datepicker__header {
  background-color: $table-head-bg !important;
  border-bottom: 1px solid $table-border-color !important;

}
a {
  text-decoration: none;
}


//暗黑主题
body {
  &.dark-layout {
    .react-datepicker {
      background-color: $theme-dark-input-bg !important;
      color: $theme-dark-body-color !important;
    }
    .react-datepicker__header {
      background-color: $theme-dark-table-header-bg !important;
      border-bottom: 1px solid $theme-dark-border-color !important;
      color: $theme-dark-body-color !important;
    }
    .react-datepicker__time-container {
      .react-datepicker__time {
        background-color: $theme-dark-table-header-bg !important;
        color: $theme-dark-body-color !important;
      }
    }
    .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
      color: $theme-dark-body-color !important;
    }
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
      color: $theme-dark-body-color !important;
    }
    .react-datepicker__day--disabled, .react-datepicker__month-text--disabled, .react-datepicker__quarter-text--disabled, .react-datepicker__year-text--disabled {
      color: $theme-dark-input-disabled-border-color !important;
    }
  }
}

.th.expand-cell-header, td.expand-cell {
  padding: 0.72rem;
  text-align: center;
}

span.divider {
  border-right: 1px solid #dddddd;
  width: 2px;
  height: 12px;
  margin: 0 5px !important;
}

.text-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.react-bootstrap-table {
  overflow-x: auto;
}
.table-scroll{
}

.table {
  width: auto !important;
  min-width: 100%;
}
.table td, .table th {
  white-space: nowrap;
}

.table-wrap td, .table-wrap th {
  white-space: normal;
}


.dropdown-toggle.noafter:after {
  display: none;
}
.form-group {
  .react-datepicker-wrapper {
    display: block;
    max-width: 200px;
  }
}

@import "tree";
@import "./filebrowser";

.react-bootstrap-table {
  .row-expansion-style {
    padding: 0 !important;
  }
  .expand-cell {
    width: 60px;
  }
}

fieldset {
  legend {
    width: auto !important;
  }
  border-top: 1px solid $border-color;
}
.badge-light {
  color: #2a2e30 !important;
}
.alert {
  padding: .71rem 1rem;
}
.form-check-label {
  cursor: pointer;
}
.form-text {
  color: #ccc;
}