@font-face {
    font-family: "iconfont"; /* Project id 3913754 */
    src: url('//at.alicdn.com/t/c/font_3913754_1197gjm3bptb.woff2?t=1677565154068') format('woff2'),
    url('//at.alicdn.com/t/c/font_3913754_1197gjm3bptb.woff?t=1677565154068') format('woff'),
    url('//at.alicdn.com/t/c/font_3913754_1197gjm3bptb.ttf?t=1677565154068') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zanwushuju:before {
    content: "\e603";
}

.icon-youjiantou_huaban:before {
    content: "\e63c";
}

.icon-daizhifudingdan:before {
    content: "\e619";
}

.icon-yiwancheng:before {
    content: "\e6a6";
}

.icon-daishouhuo:before {
    content: "\e690";
}

.icon-daifahuo:before {
    content: "\e707";
}

.icon-quanbu:before {
    content: "\e713";
}

.icon-31shezhi:before {
    content: "\e602";
}

.icon-31guanzhu1:before {
    content: "\e600";
}

.icon-zuji:before {
    content: "\e767";
}

.icon-bangzhuzhongxin:before {
    content: "\e652";
}

.icon-canyu:before {
    content: "\e608";
}

.icon-zhanghu:before {
    content: "\e632";
}

.icon-gouwuche:before {
    content: "\e64f";
}

.icon-lianxikefu:before {
    content: "\e646";
}

.icon-shangchuan:before {
    content: "\e623";
}

.icon-dizhiguanli:before {
    content: "\e63f";
}

.icon-erweima:before {
    content: "\eaf1";
}

.icon-wodexiao:before {
    content: "\e941";
}

.icon-kaipiao:before {
    content: "\e69c";
}

.icon-paimai:before {
    content: "\e601";
}

.icon-shouye:before {
    content: "\e6d3";
}

.icon-zhuanzhang:before {
    content: "\e7e5";
}

.icon-qianbao:before {
    content: "\e604";
}

.icon-kaipiaoxinxi:before {
    content: "\e64e";
}

.icon-baozhengjin:before {
    content: "\e656";
}

.icon-shizhong-mianxing:before {
    content: "\e673";
}
