@import '../../base/bootstrap-extended/include';
@import '../../base/components/include';

@import '../../base/pages/app-calendar.scss';

// 调色板
@import '../../base/core/colors/palette-variables.scss';

.fc-sidebarToggle-button {
  // content: '';
  background-image: url(str-replace(str-replace($menu, 'currentColor', $body-color), '#', '%23'));
  width: 25px;
  height: 25px;
  margin-right: 0.7rem !important;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
