@import "assets/fonts/iconfont.css";
@import "assets/fonts/iconfont2.css";
@import "assets/fonts/font-awesome.css";
@import "assets/fonts/montserrat";


page {
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    @apply text-gray-800 subpixel-antialiased;
    background-color: #f8f8f8;
    display: block;
    position: relative;
    min-height: 100%;
    font-family: Montserrat, system-ui,
    -apple-system, /* Firefox supports this but not yet `system-ui` */
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
    --warning-color: #e6cca7;
    --danger-color: #d80c18;
}
view {
    box-sizing: border-box;
    border: 0 solid;
}
input {
    border: 0 solid;
}
::-webkit-scrollbar {
    display:none;
    width:0;
    height:0;
    color:transparent;
}
navigator, picker, rich-text {
    display: block;
}
button, button[plain] {
    font-size: 14px;
    line-height: 22px;
    border: none;
    &::after {
        border: none;
    }
    &:after {
        border: none;
    }
}
.btn[plain] {
    background-color: transparent;
    background-image: none;
    padding: 0;
}
.btn {
    border: none;
    @apply py-2 px-6 inline-block rounded-full;

    &.button-hover {
        @apply transform scale-90;
    }

    &[disabled] {
        background-image: none !important;
        @apply bg-none bg-gray-400;
    }
    &.btn-primary {
        @apply from-red-400 to-red-600 bg-gradient-to-r text-white;
    }
    &.btn-info {
        @apply from-indigo-400 to-indigo-600 bg-gradient-to-r text-white;
    }
    &.btn-danger {
        @apply from-red-400 to-red-600 bg-gradient-to-r text-white;
    }
    &.btn-success {
        @apply from-green-400 to-green-600 bg-gradient-to-r text-white;
    }
    &.btn-warning {
        @apply from-amber-400 to-amber-600 bg-gradient-to-r text-white;
    }
    &.btn-outline {
        @apply text-gray-600 border-solid border-1 border-gray-400;
    }
    &.btn-sm {
        @apply text-sm py-1 px-4;
    }
    &.btn-white {
        color: #fff;
    }
}

.screen-swiper {
    min-height: auto;
}

.modals-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgb(0,0,0, 0.3);
}
/*模态框*/
.modals-cancel {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.wx-checkbox-input.wx-checkbox-input-checked, .wx-radio-input.wx-radio-input-checked{
    background: #d80c18;
    border:1px solid #d80c18;
    color:#ffffff;
}
.wx-checkbox-input.wx-checkbox-input-checked::before, .wx-radio-input.wx-radio-input-checked::before{
    color:#ffffff;
}
.m-t {
    display: flex;
}
.m-list-png {
    width: 44rpx;
    height: 44rpx;
    margin-right: 11rpx;
}
.m-title {
    font-size:30rpx;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(33,33,33,1);
}
.m-close-png {
    width: 56rpx;
    height: 56rpx;
}
.merchandise-container {
    position: absolute;
    width: 702rpx;
    background-color: #fff;
    border-radius: 16rpx;
    overflow: hidden;
    height: 100%;
}
.merchandise-head {
    height: 86rpx;
    display: flex;
    box-sizing: border-box;
    padding-top: 30rpx;
    align-items: center;
    padding-left: 40rpx;
    padding-right: 22rpx;
    justify-content: space-between;
}
.bottom-dialog-body {
    position: fixed;
    z-index: 10001;
    bottom: 0;
    left: 0;
    right: 0;
    height: 814rpx;
    padding: 24rpx;
}
.bottom-pos {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

/*动画前初始位置*/

.badge {
    @apply flex items-center justify-center bg-red-600 z-10 text-white text-sm rounded-full absolute;
    min-width: 18px;
    height: 18px;
    top: -6px;
    right: 3px;
}
.title1 {
    position: relative;
    > text {
        @apply ml-4;
    }
}

.title1:before {
    content: ' ';
    top: 5%;
    height: 90%;
    width: 7px;
    @apply bg-red-600;
    position: absolute;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 15px;
    background-size: 15px 100%;
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(225deg, #fff 25%, transparent 25%);
    background-position: 0 0;
}
.text-cut {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.head-bg {
    position: relative;
    z-index: 0;
    overflow: visible;
    width: 100%;
    box-sizing: border-box;
    &:after {
        width: 140%;
        height: calc(100% - 20px);
        position: absolute;
        left: -20%;
        z-index: -1;
        top: 0;
        content: '';
        border-radius: 0 0 50% 50%;
        background: linear-gradient(180deg, #d80c18 0%, #7f1d1d 100%);
    }
}
.item-title {
    text-indent: 12px;
    position: relative;
    &:before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 12%;
        height: 70%;
        width: 5px;
        background-color: #d80c18;
    }
}
.item-title-black {
    text-indent: 12px;
    position: relative;
    &:before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 12%;
        height: 70%;
        width: 5px;
        background-color: black;
    }
}
.radio-red-color {
    --radio-checked-icon-background-color: #ee0a24;
    --radio-checked-icon-border-color: #ee0a24;
}
.taroify-tabs__wrap__scroll--line {
    background-color: transparent !important;
}

.taroify-uploader__preview {
    width: 100px;
    height: 100px;
}

.taroify-tag {
    font-size: 14px !important;
    line-height: 1.5 !important;
}

.table {
    display: table;
    width: 100%;
    /* border-collapse 属性设置表格的边框是否被合并为一个单一的边框，解决相邻单元格边框未合并导致有些边框变粗的视觉效果 */
    border-collapse: collapse;
    overflow-x: hidden;
}
.tr {
    display: table-row;
    width: 100%;
}
.th {
    display: table-cell;
    font-weight: bold;
    border: 1px solid #e5e7eb;
    text-align: center;
    vertical-align: middle;
    background-color: #ccc;
}
.td {
    display: table-cell;
    border: 1px solid #e5e7eb;
    vertical-align: middle;
    padding: 10px 16px;
}
