@import "assets/fonts/iconfont.css";
@import "assets/fonts/font-awesome.css";
@import "assets/fonts/montserrat";

page {
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    @apply text-gray-800 subpixel-antialiased;
    background-color: #f8f8f8;
    display: block;
    position: relative;
    min-height: 100%;
    font-family: Montserrat, system-ui,
    -apple-system, /* Firefox supports this but not yet `system-ui` */
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}
view {
    box-sizing: border-box;
    border: 0 solid;
}
input {
    border: 0 solid;
}

navigator, picker, rich-text {
    display: block;
}
button, button[plain] {
    font-size: 14px;
    line-height: 22px;
    border: none;
    &::after {
        border: none;
    }
    &:after {
        border: none;
    }
}
.btn[plain] {
    background-color: transparent;
    background-image: none;
    padding: 0;
}
.btn {
    border: none;
    @apply py-2 px-6 inline-block rounded-full;

    &.button-hover {
        @apply transform scale-90;
    }

    &[disabled] {
        background-image: none !important;
        @apply bg-none bg-gray-400;
    }
    &.btn-primary {
        @apply from-red-400 to-red-600 bg-gradient-to-r text-white;
    }
    &.btn-info {
        @apply from-indigo-400 to-indigo-600 bg-gradient-to-r text-white;
    }
    &.btn-danger {
        @apply from-red-400 to-red-600 bg-gradient-to-r text-white;
    }
    &.btn-warning {
        @apply from-amber-400 to-amber-600 bg-gradient-to-r text-white;
    }
    &.btn-outline {
        @apply text-gray-600 border-solid border-1 border-gray-400;
    }
    &.btn-sm {
        @apply text-sm py-1 px-4;
    }
    &.btn-white {
        color: #fff;
    }
}

.screen-swiper {
    min-height: auto;
}

.modals-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgb(0,0,0, 0.3);
}
/*模态框*/
.modals-cancel {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.m-t {
    display: flex;
}
.m-list-png {
    width: 44rpx;
    height: 44rpx;
    margin-right: 11rpx;
}
.m-title {
    font-size:30rpx;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(33,33,33,1);
}
.m-close-png {
    width: 56rpx;
    height: 56rpx;
}
.merchandise-container {
    position: absolute;
    width: 702rpx;
    background-color: #fff;
    border-radius: 16rpx;
    overflow: hidden;
    height: 100%;
}
.merchandise-head {
    height: 86rpx;
    display: flex;
    box-sizing: border-box;
    padding-top: 30rpx;
    align-items: center;
    padding-left: 40rpx;
    padding-right: 22rpx;
    justify-content: space-between;
}
.bottom-dialog-body {
    position: fixed;
    z-index: 10001;
    bottom: 0;
    left: 0;
    right: 0;
    height: 814rpx;
    padding: 24rpx;
}
.bottom-pos {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

/*动画前初始位置*/

.badge {
    @apply flex items-center justify-center bg-red-600 z-10 text-white text-sm rounded-full absolute;
    min-width: 18px;
    height: 18px;
    top: -6px;
    right: 3px;
}
.title1 {
    position: relative;
    > text {
        @apply ml-4;
    }
}

.title1:before {
    content: ' ';
    top: 5%;
    height: 90%;
    width: 7px;
    @apply bg-red-600;
    position: absolute;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 15px;
    background-size: 15px 100%;
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(225deg, #fff 25%, transparent 25%);
    background-position: 0 0;
}
.text-cut {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
